body {background: #bdbdbd url('../img/bg.jpg') no-repeat fixed; background-size: 100% auto; font: 11px Verdana, sans-serif; overflow: scroll; overflow-x: hidden; }
a {color: #fff; text-decoration: none;}
#header, #section, #nav, #special {display: block; margin: auto;}
#header { height: 81px; width: 765px;}
#logo {width: 196px; height: 69px; position: absolute; z-index: 2; background: url('../img/logo.png'); top:17px;}
#section { width: 755px; background: #fff; padding: 5px;}
#nav { height: 34px; width: 750px;  background: url('../img/menubg.png');}
#nav li {float: left; width: 120px; height: 34px; line-height: 34px; margin: 0px 0px; text-align: center; border-right: 1px solid #777;}
#nav li.cart {background: url('../img/cartbg.png'); border: 0; width: 136px; height: 28px; line-height: 28px; margin: 3px;}

#IEDebug, #content {width: 755px; margin: auto;}
#content a {color: #333;}
#loginform {position: absolute; left: 50%; margin-left: 80px; top: 30px; width: 256px; height: 12px; background: #fff; border: 2px solid #7f98a8; font: 10px Verdana, sans-serif; padding: 0 3px; }
#loginform input { height: 10px; border: 0; width: 40px; font: 9px Verdana, sans-serif;}
#loginform a {color: #000;}

#searchform {position: absolute; top: 55px; left: 50%; margin: 0 0 0 -30px; width: 256px; height: 15px;  background: #fff; border: 2px solid #7f98a8; font: 10px Verdana, sans-serif; }
#searchform .search {  outline:none;  height: 10px; border: 0; width: 215px; margin: -5px 0 0 5px; font: 9px Verdana, sans-serif; }
#searchform .sbutton { margin: 1px -3px -3px 0;}

#special {background: #8b8b8b; height: 30px; width: 750px; text-align:center;}
#special img { margin-top: 3px;}

#maincatalog {background: #212121; width: 95px !important; width: 92px; min-height: 264px; border: 1px solid #60605f; margin-left: 2px; padding: 20px 3px 25px 15px; color: #f87d04; }
#maincatalog ul li {color: #fff; padding-top: 10px;}
#maincatalog ul li.seporator {border-bottom: 1px solid #9c9b9b; height: 1px; margin-left: -8px; width: 96px;}
#maincatalog a {color: #fff;}

#cbanner {width: 635px; min-height: 300px; float: right; padding-right: 3px;}
.radtl { -webkit-border-top-left-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px; }
.radtr { -webkit-border-top-right-radius:10px;-moz-border-radius-topright:10px;border-top-right-radius:10px; }
.radbl { -webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomleft:10px;border-bottom-left-radius:10px; }
.radbr { -webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px; }
.radall { -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px; }
.clear {clear: both;}

#bottombanners {width: 750px; height: 173px; margin: 0 0 15px 2px; background: url('../img/bannersbg.png');}
#bottombanners img {margin: 6px;}

#whywearefirst {width: 750px; height: 72px; margin: 0 0 0 2px; background: url('../img/whywearefirst.png'); font: 9px Verdana, sans-serif;}
#whywearefirst li {float: right; width:	320px; line-height: 30px; list-style-image: url('../img/orangemarker.png');}
#whywearefirst ul {float: right;}
#whywearefirst .wwafr { width: 170px !important;}

#footer {width: 738px; min-height: 150px; background: #212121; margin: 15px 0 0 0; color: #f87d04; padding: 6px; font: 10px Verdana, sans-serif;}
#footer h1 {padding: 5px;}
#footer li {padding: 5px; color: white;}
#footercatalog, #footerinfo, #footerhelp {width: 154px; float: left;}
#footerbrands {width: 272px; float: right;}
#footerbrands img {width: 53px; height: 23px; margin: 5px 8px 0 0;}
#copyright {width: 735px; text-align: right; margin: 5px 0 0 0;}

.smallimage img { height: 220px; }