
/* основной шрифт (размер, и т.д.) */
td{font-size:14px;}

/* сообщения об ошибках и др. красный цвет */
.red{color: #ff0000;}

/* ссылки на подразделы внутри разделов (те, что по умолчанию под формой поиска) */
span.sclc a:link{font-size:16px; color:#327094; text-decoration:none; font-weight: bold;}
span.sclc a:visited{font-size:16px; color:#5c568b; text-decoration:none; font-weight: bold;}
span.sclc a:hover{font-size:16px; color:#ff0000; text-decoration:underline; font-weight: bold;}
span.sclc a:active{font-size:16px; color:#000000; text-decoration:underline; font-weight: bold;}

/* Расстояние между ссылками на подразделы внутри разделов (не в меню) */
.sclc p{margin:8px;}

.sclc img{
margin-right: 3px;
vertical-align: text-bottom;
position: relative;
bottom: 1px;
border: 0px;
}

/* стиль ссылок с названием товара в разделах и гл.странице */
.ptitle{font-size: 22px;}

/* таблицы товаров на гл.странице */
table.MainProdTbl{width:100%;}

/* таблица товаров в разделах */
table.ProdTbl{width:100%;}
table.ProdTbl td{vertical-align:top;}

/* div с изображением товара в разделах */
.CatPrImg{
float:left;
margin-right:5px;
margin-bottom:3px;
}

/* div с изображением товара на гл.странице */
.MainPrImg{
float:left;
margin-right:5px;
margin-bottom:3px;
}

/* div с изображением товара при поиске */
.SearchPrImg{
float:right;
margin-left:5px;
margin-bottom:3px;
}


/* BEGIN полосатые таблицы в форме регистрации, корзине, и оформления заказа и т.д. */
	.coltbl{
	border-top: 1px outset #f0f0f4;
	border-right: 1px ridge #f0f0f4;
	border-bottom: 1px ridge #f0f0f4;
	border-left: 1px outset #f0f0f4;
	width: 100%;
	}

	.coltbl td{
	padding:4px;
	}

	/* заголовок таблицы */
	.htr{background-color: #ddeded;
	color:#345A70; font-weight:bold;
	height: 20px;
	}
	.htr td{
	vertical-align:top;
	background-image: url(img/hbg.gif);
	background-repeat: repeat-x;
	font-size: 14px;
	}

	/* светлая полоса */
	.str{background-color: #ffffff;}
	/* тёмная полоса */
	.ttr{background-color: #f8fafa;}
	/* нижняя часть (не использ.) */
	.ftr{background-color: #e2e7e7;}
	/* нижняя часть корзины */
	.CartFtr{background-color: #ffffff;}
	/* таблица внутри нижней части корзины */
	.CartTotal td{padding: 4 0 4 0; border-bottom: solid 1px #000000;}
/* END полосатые таблицы*/


/* BEGIN таблицы блоков вертикальных меню */
	.vMenuTbl{
	border-top: 1px outset #f0f0f4;
	border-right: 1px ridge #f0f0f4;
	border-bottom: 1px ridge #f0f0f4;
	border-left: 1px outset #f0f0f4;
	width: 100%;
	}

	/* ссылки */
	.vMenuTbl td a{
	text-decoration: none;
	}

	/* ссылки при наведении мышью */
	.vMenuTbl td a:hover{
	text-decoration: underline;
	}
/* END таблицы блоков вертикальных меню */


/* BEGIN заголовки блоков вертикальных меню */
	.vMenuHtr td{
	background-color: #ddeded;
	color:#345A70;
	font-weight:bold;
	padding:0px;
	background-image: url(img/hbg.gif);
	background-repeat: repeat-x;
	height: 20px;
	font-size: 14px;
	padding:4px;
	}
	/* ссылки */
	.vMenuHtr td a:link{text-decoration: underline;}
	/* посещённые ссылки */
	.vMenuHtr td a:visited{text-decoration: underline;}
	/* ссылки при наведении мышью */
	.vMenuHtr td a:hover{text-decoration: none;}
	/* div с изображением в заголовке */
	.vMenuHImg{float:right; padding: 4px;}
/* END заголовки блоков вертикальных меню */


/* BEGIN блок верт. меню разделов */
	.MnuCat{width: 100%;}
	.MnuCat td{border-bottom: 1px dashed #cccccc;}

	/* ссылки */
	.MnuCat td a{
	display: block;
	text-decoration: none;
	padding: 4px;
	}

	/* ссылки при наведении мышью */
	.MnuCat td a:hover{
	background-color: #f8fafa;
	text-decoration: underline;
	}

	/* подразделы в меню разделов */
	.MnuCat ul{
	margin-left:12px;
	padding-left:0px;
	margin-top:0px;
	margin-bottom:10px;
	list-style-type: none;
	}

	/* открытый раздел */
	.OpenedCat{
	font-weight: bold;
	}
/* END блок верт. меню разделов */


/* BEGIN таблица блока верт. меню новых товаров */
	.NewProdTbl, .SpecialTbl{
	margin:0px;
	width: 100%;
	left: 0px;
	top: 0px;
	}

	.NewProdTbl td, .SpecialTbl td{
	text-decoration: none;
	border-bottom: 1px dashed #cccccc;
	padding:4px;
	}

	/* ссылки */
	.NewProdTbl td a, .SpecialTbl td a{
	text-decoration: none;
	}
/* END таблица блока верт. меню новых товаров */


/* BEGIN таблица блока верт. меню новостей */
	.NewsMenuTbl{width:100%;}

	.NewsMenuTbl td{
	border-bottom: 1px dashed #cccccc;
	padding:4px;
	}
/* END таблица блока верт. меню новостей */


/* BEGIN таблица блока верт. меню корзины */
	.MnuCart{width: 100%;}
	.MnuCart td{padding: 4px;}
/* END таблица блока верт. меню корзины */


/* BEGIN горизонтальное меню */
	.HorMenu{
	height:50px;
	border-bottom: 2px inset #f0f0f4;
	}

	/* ссылки */
	.HorMenu a{text-decoration: none;}

	/* ссылки при наведении мышью */
	.HorMenu a:hover{text-decoration: underline;}
/* END горизонтальное меню */


/* BEGIN 2-ные заголовки таблиц */
.htr2{background-color: #d4e8e8;
color:#345A70; font-weight:bold;
height: 20px;
}
/* END 2-ные заголовки таблиц */

/* линейка ссылок на другие страницы раздела */

a.PglA:link, a.PglA:visited, a.PglA:active{
color: #000033;
background-color: #D4e8e8;
border-color: #808080;
border-style: solid;
border-width: 1px;
margin: 0px;
padding: 0px;
padding-left: 3px;
padding-right: 3px;
padding-top: 1px;
padding-bottom: 1px;
text-decoration: none;
font-weight: bold;
font-size: 11px;
}

/* при наведении мышью */
a.PglA:hover{
color: white;
background-color: #C10000;
text-decoration: none;
border-color: #808080;
border-style: solid;
border-width: 1px;
margin: 0px;
padding: 0px;
padding-left: 3px;
padding-right: 3px;
padding-top: 1px;
padding-bottom: 1px;
text-decoration: none;
font-weight: bold;
font-size: 11px;
}

/* открытая страница */
.PgOpen{
color: white;
background-color: #44779D;
border-color: #808080;
border-style: solid;
border-width: 1px;
margin: 0px;
padding: 0px;
padding-left: 3px;
padding-right: 3px;
padding-top: 1px;
padding-bottom: 1px;
text-decoration: none;
font-weight: bold;
font-size: 11px;
}

/* предыдущая и следующая страницы */
.PglPrev, .PglNext{
font-size: 12px;
}

/* END линейка ссылок на другие страницы раздела */

/* тег p в вариантах дополнительных полей (используется в радиокнопках) */
.addFieldsVP{margin-bottom:12px;}


/* НАЧАЛО разделы на главной странице */
a:link.mc{font-size:16px; text-decoration:underline; font-weight: bold;}
a:visited.mc{font-size:16px; text-decoration:underline; font-weight: bold;}
a:hover.mc{font-size:16px; text-decoration:none; font-weight: bold;}
a:active.mc{font-size:16px; text-decoration:none; font-weight: bold;}

.mc img{
border: none;
}

span.msc a:link{font-size:12px; text-decoration:none;}
span.msc a:visited{font-size:12px; text-decoration:none;}
span.msc a:hover{font-size:12px; text-decoration:underline;}
span.msc a:active{font-size:12px; text-decoration:underline;}

.msc img{
border: none;
vertical-align: middle;
}
/* КОНЕЦ разделы на главной странице */

/* BEGIN блок верт. меню разделов каталога товаров */

.MnuCat3{width: 100%;}

/* ссылки */
.MnuCat3 td a{
display: block;
text-decoration: none;
padding: 4px;
}

/* ссылки при наведении мышью */
.MnuCat3 td a:hover{
background-color: #f8fafa;
text-decoration: underline;
}

/* изображения */
.MnuCat3 img{
border: none;
margin-top: 5px;
margin-right: 0px;
}

.ec1{
vertical-align: top;
border-bottom: 1px dashed #cccccc;
}

.ec1 img{
margin-left: 2px;
padding-top: 2px;
}

.mcl{
margin-left: 12px;
padding-left: 12px;
vertical-align: top;
}

/* END блок верт. меню разделов каталога товаров */

.pComHdr{
background-color: #EAF4F4;
}

.stImg{
vertical-align:middle;
}
